@model NetQuax.Models.MovieDetailsModel
<div id="modal-movieDetails-@Model.MovieId" class="modal fade" tabindex="-1" role="dialog">
  <style>
    header {
      background-color: #666;
      padding: 30px;
      text-align: center;
      font-size: 35px;
      color: white;
    }

    div.pic {
      padding: 50px;
      text-align:center;
    }

    div.description {
      width: 50%;
      /*border: 3px solid blue;*/
    }

    .column3 {
      width: 100%;
      padding: 20px;
    }

    .column4 {
      width: 100%;
      padding: 20px;
    }

    .column5 {
      width: 100%;
      padding: 20px;
    }
  </style>
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><b>@Model.Movie.Title</b></h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          <div class="pic">
            <img style="width:250px;" src=" @("/images/" + Model.Movie.Title + ".jpg")" alt="MovieImage">
          </div>
            </div>
          
          </div>
        </div>
      <div class="row">
      <div class="col-sm-12">
        <div style="width: 100%" class="column3">
          <p style="width: 100%;"> <b>Description: &nbsp;</b> @Model.Movie.Description</p>
        </div>

        <div class="column3">
          <p><b>Director:&nbsp;</b>@Model.Movie.Director</p>
          <p><b>Genre:&nbsp;</b>@Model.Movie.Genre</p>
          <p><b>Actor:&nbsp;</b>@Model.Movie.Actor</p>
        </div>

        <div class="column4">
          <p><b>Year:&nbsp;</b>@Model.Movie.YearReleased</p>
          <p><b>Rating:&nbsp;</b>@Model.Movie.Rating</p>
          <p><b>Mode:</b> HD</p>
        </div>

        <div class="column5">
          <p>$@Model.Movie.Price.00</p>
          <p>Hatchling</p>
        </div>
        </div>
        </div>
        <div class="modal-footer">
          <div id="signIn-Error" class="margin-bottom-10" style="text-align: center;">
            <p id="addUser-ErrorMessage"></p>
          </div>
          @using (Ajax.BeginForm("AddToCart", "Home", new
                AjaxOptions
          {
            OnSuccess = "AddToCartSuccess"
          },
          new
          {
            id = "AddToCart-" + Model.MovieId,
            name = "AddToCart"
          }
          ))
          {
            <input type="hidden" name="MovieId" value="@Model.MovieId">
          }
          <button type="button" onclick="$('#AddToCart-' + @Model.MovieId).submit()" class="btn btn-primary">Add To Cart</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
