<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - NetQuax</title>
  @Styles.Render("~/Content/css")
</head>
<body>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/custom")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
  @Scripts.Render("~/bundles/modernizr")

  <nav class="navbar navbar-inverse">

    <div class="container-fluid">

      <ul class="nav navbar-nav">

        <li class="btn-group">
          <a role="button" class="dropdown-toggle" data-toggle="dropdown">
            NetQuax
          </a>
          <ul class="dropdown-menu">
            <li  onclick="showSignInModal(@Session["User"])"><strong><a href="#"> @(Session["User"] != null? "Hello, ": String.Empty)</strong><span style='color:blue;'> @( Session["User"] != null ? "" + Session["User"].ToString() : "Sign in") </span></a></li>

            @{
              if (Session["UserId"] != null && (long)Session["UserId"] > 0)
              {
                <li><a href="#">Profile</a></li>
//@Html.Partial("userDetails", new NetQuax.Models.UserDetailsModel((long)Session["UserId"]))
              }
            }
            <li onclick="showCreateAccountModal(@Session["User"])"><a href="#">Create an account</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>

        <li><a href="@Url.Action("Browse", "Home")">Browse</a></li>
      </ul>

      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="The Mighty Ducks">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </nav>

  @Html.Partial("modal-SignIn")
  @Html.Partial("modal-AddUserAccount")
  <div class="top-header"></div>

  <div class="container body-content">
    <hr />
    @RenderBody()
    <footer>
      <p>&copy; @DateTime.Now.Year - NetQuax</p>
    </footer>
  </div>
</body>
</html>